@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap"); /* Noto Sans */
@import url("https://use.typekit.net/tns8mbm.css"); /* jaf-bernina-sans */

body {
	font-family: "Noto Sans", sans-serif;
	margin: 0;
	background-color: #f79100;
}

.wrapper {
	width: 1200px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(6, minmax(100px, auto));
	position: relative;
}
